<!DOCTYPE html>
<html>
  <head>
    <title>Formação - Meu Currículo Online</title>
    <style>
      header {
        background-color: #333;
        color: #fff;
        padding: 10px;
      }
      nav ul {
        display: flex;
        justify-content: space-evenly;
      }
      nav ul li {
        text-decoration: none;
        list-style: none;
        margin: 0 10px;
      }
      nav ul li a {
        color: white;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/sobre">Sobre Mim</a></li>
          <li><a href="/experiencia">Experiência Profissional</a></li>
          <li><a href="/formacao">Formação Acadêmica</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h1>Formação</h1>
        <h2>Curso técnico em Informática</h2>
        <span>EEEP Rita Matos Luna, Jucas-CE</span>
        <p>2015 a 2017</p>
      </section>
      <section>
        <h2>Graduação em Sistemas de Informação</h2>
        <span>IFCE, Cedro-CE</span>
        <p>2018 a atualmente</p>
      </section>
    </main>
    <footer><p>&copy; 2023 Lucas Nogueira</p></footer>
  </body>
</html>
