<!DOCTYPE html>
<html>
  <head>
    <title>Sobre Mim - Meu Currículo Online</title>
    <style>
      header {
        background-color: #333;
        color: #fff;
        padding: 10px;
      }
      nav ul {
        display: flex;
        justify-content: space-evenly;
      }
      nav ul li {
        text-decoration: none;
        list-style: none;
        margin: 0 10px;
      }
      nav ul li a {
        color: white;
      }
      h1 {
        text-align: center;
      }
      p {
        margin: 10vw;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/sobre">Sobre Mim</a></li>
          <li><a href="/experiencia">Experiência Profissional</a></li>
          <li><a href="/formacao">Formação Acadêmica</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h1>Sobre mim</h1>
        <p>
          Olá, meu nome é Lucas e atualmente curso Sistemas de Informação no
          IFCE Campus Cedro. Desde criança, sempre fui apaixonado por tecnologia
          e computadores, e essa paixão me levou a escolher esse curso. Sou um
          estudante dedicado e entusiasmado em aprender cada vez mais sobre a
          área de tecnologia e suas aplicações. Espero poder contribuir para o
          avanço dessa área no futuro, e estou animado para ver o que o futuro
          me reserva como profissional de Sistemas de Informação.
        </p>
      </section>
    </main>
    <footer><p>&copy; 2023 Meu Currículo Online</p></footer>
  </body>
</html>
